.apexcharts-menu-item {
  padding: 6px 7px;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.apexcharts-tooltip {
  background-color: rgba(31, 31, 32, 0.7) !important;
  color: white;
}

.apexcharts-tooltip-title {
  background-color: black !important;
  color: white;
}
