@import url('https://fonts.googleapis.com/css2?family=Inter');

.allArtist {
    height: 100vh;
    display: flex;
    background-color: #E3E3E3;
    font-family: 'Inter';
}

.calendarArtist {
    width: 90%;
    height: auto;
    margin: 70px auto 5px 100px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 


}

.title {
    position: relative;
    bottom: 40px;
    font-size: 40px;
    color: #111111;
}
