.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.formLeft {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.formRight {
  flex: 1;
  padding: 10px;
  width: 90%;
}


.textarea,
.input {
  width: 90%;
  height: 54px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  background: #E2E2E2;
  margin-bottom: 20px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.formButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  justify-content: space-between;

}

.confirmButton {
  padding: 20px;
  background-color: #007bff;
  color: #E2E2E2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 245px;
  height: 64px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cancelButton {
  padding: 20px;
  background-color: #CB3230;
  color: #E2E2E2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 245px;
  height: 64px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.button:hover {
  background-color: #0056b3;
}

.label {
  color: rgba(0, 0, 0, 0.50);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 83.333% */
  padding: 20px;

}

.img {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.inputImage {
  width: 590px;
  flex-shrink: 0;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
}

@media (max-width: 768px) {
  .formContainer {

    display: grid;
  }

  .formLeft,
  .formRight {
    display: grid;

    width: 100%;
    margin: 0;
  }

  .formRight {
    margin-top: 10px;
  }

  .textarea,
  .input {
    width: 80%;
    height: 54px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #E2E2E2;
    margin-bottom: 20px;
  }

  .formButtons {
    display: grid;
    margin-top: 10px;

  }

  .cancelButton,
  .confirmButton {
    margin-top: 15px;
    justify-items: center;
  }

}